html,
body,
div#layout-main,
div#layout-body {
    width: 100%;
    height: 100%;
}
div#login-buttons{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 146.11px;
    margin-left: -73.5px;
    height: 29px;
    margin-top: -14.5px;
}

div#layout-header{
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
}

div#layout-header >span{
    order:3;
    margin-top: 12px;
}


button#logout{
    order:1;
    color:black;
}

a#profile-image-wrapper{
    order: 2;
    width: 40px;
    height: 40px;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
}

a#profile-image-wrapper > span {
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: 0;
    overflow: hidden;
    position: absolute;
    height: 32px;
    width: 32px;
    z-index: 0;
    top: 4px;
    left: 4px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}



table#perfil-list-wrapper th:first-child,
table#perfil-list-wrapper td:first-child,
table#material-list-wrapper th:first-child,
table#material-list-wrapper td:first-child{
    width: 160px;
}

table#perfil-list-wrapper td:first-child,
table#material-list-wrapper td:first-child{
    padding-left: 0;
    padding-right: 0;
}

table#perfil-list-wrapper thead tr,
table#material-list-wrapper thead tr{
    height: 74px;
}

div#language-wrapper{
    width: 50px;
}

div#language-wrapper > label {
    margin-top: 8px;
}

table .centered {
    text-align: center;
}


div#both-info > ul{
    list-style: none;
}

div#both-info .tag{
    font-weight: bolder;
}

div#wizard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

div#wizard-left-panel,
div#wizard-right-panel {
    height: 100%;
}

div#wizard-left-panel {
    order: 1;
    width: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 2px black solid;
}

div#wizard-right-panel {
    order: 2;
    flex: 1;
    display: flex;
    flex-direction: column
}

div#wizard-header {
    order: 1;
    height: 50px;
    width: 100%;
}

div#wizard-header>button,
div#wizard-header>h1 {
    display: inline-block;
}

div#wizard-content {
    order: 2;
    flex: 1;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

div#wizard-control {
    order: 3;
    width: 100%;
    height: 50px;
    text-align: right;
}

div#wizard-control>button {
    margin-top: 5px;
}

div#wizard-control>button.calcular {
    margin-right: 15px;
}

div#wizard-left-panel ul {
    list-style: none;
    padding-left: 5px;
}

div#wizard-left-panel ul button {
    padding-left: 0;
}

div#step1 {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
}

div#step2 {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: row;
}

div#step2 div.step2section {
    flex-grow: 1;
}

div#step3 {
    width: 100%;
    height: 1000px;
    background-color: red;
}

div#step1-column {
    order: 1;
    flex: 1 1 33.33%;
}

div#step1-column div.form-group {
    display: inline-block;
    width: 49%;
}

div#step1-left-beam {
    order: 2;
    flex: 1 1 33.33%;
}

div#step1-left-beam ul,
div#step1-right-beam ul {
    width: 175px;
    display: inline-block;
    list-style: none;
    padding-left: 0;
}

div#step1-left-beam svg,
div#step1-right-beam svg {
    vertical-align: top;
}

div#step1-left-beam div.form-group {
    display: inline-block;
    width: 49%;
}

div#step1-right-beam {
    order: 3;
    flex: 1 1 33.33%;
}

div#step1-right-beam div.form-group {
    display: inline-block;
    width: 49%;
}

div#step1-column svg {
    display: block;
    /* margin-bottom: 15px; */
    margin: 0 auto 15px;
}
