html,
body,
div#layout-main{
    width: 100%;
    height: 100%;
}

div#layout-main{
    display: flex;
    flex-direction: column;
}
div#layout-body{
    order: 2;
    flex: 1 0 auto;
    position: relative;
    overflow: hidden;
}

div#layout-footer{
    order: 3;
    height: 50px;

}
div#layout-header{
    order:1;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
}


div#layout-header >span{
    order:3;
    margin-top: 12px;
}


button#logout{
    order:1;
    color:black;
}

a#profile-image-wrapper{
    order: 2;
    width: 40px;
    height: 40px;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
}

a#profile-image-wrapper > span {
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: 0;
    overflow: hidden;
    position: absolute;
    height: 32px;
    width: 32px;
    z-index: 0;
    top: 4px;
    left: 4px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

table#material-list-wrapper th:first-child,
table#perfil-list-wrapper th:first-child,
table#material-list-wrapper td:first-child,
table#perfil-list-wrapper td:first-child{
    width: 16.666667%;
}

table#perfil-list-wrapper th{
    vertical-align: top;
    height: 98px;
}

table#perfil-list-wrapper thead th:last-child,
table#perfil-list-wrapper tbody td:last-child{
    width: 111px;
}

div#show-perfil-list{
    position: absolute;
    /* width: 16.666667%; */
    display: none;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

ul#perfil-list{
    width: 100%;
    background-color: white;
    border: black 1px solid;
    padding: 0;
}

ul#perfil-list li{
    list-style: none;
}

ul#perfil-list button {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

ul#perfil-list button:hover{
    background-color: red;
}


div#perfil-controls{
    position: relative;
    width: 100%;
    height: 100%;
}

button#save-custom{
    position: absolute;
    left: 0;
}

a#perfil-download{
    position: absolute;
    right: 0;
    color: black;
}

div#language-wrapper{
    width: 50px;
}

div#language-wrapper > label {
    margin-top: 8px;
}

table .centered,
table#material-list-wrapper th,
table#material-list-wrapper td,
table#perfil-list-wrapper th,
table#perfil-list-wrapper td {
    text-align: center;
}

div#both-info .tag{
    font-weight: bolder;
}

div#wizard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

div#wizard-left-panel,
div#wizard-right-panel {
    height: 100%;
}

div#wizard-left-panel {
    order: 1;
    width: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 2px black solid;
}

div#wizard-right-panel {
    order: 2;
    flex: 1;
    display: flex;
    flex-direction: column
}

div#wizard-header {
    order: 1;
    height: 50px;
    width: 100%;
}

div#wizard-header>button,
div#wizard-header>h1 {
    display: inline-block;
}

div#wizard-content {
    order: 2;
    flex: 1;
    position: relative;
    overflow: hidden;
}

div#wizard-control {
    order: 3;
    width: 100%;
    height: 50px;
    text-align: right;
}

div#wizard-control>button {
    margin-top: 5px;
}

div#wizard-control>button.calcular {
    margin-right: 15px;
}

div#wizard-left-panel ul {
    list-style: none;
    padding-left: 5px;
}

div#wizard-left-panel ul button {
    padding-left: 0;
}

div#step1 {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
}

div#step2 {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: row;
}

div#step2 div.step2section {
    flex-grow: 1;
}

div#step3 {
    width: 100%;
    height: 1000px;
    background-color: red;
}

div#step1-column {
    order: 1;
    flex: 1 1 33.33%;
}

div#step1-column div.form-group {
    display: inline-block;
    width: 49%;
}

div#step1-left-beam {
    order: 2;
    flex: 1 1 33.33%;
}

div#step1-left-beam ul,
div#step1-right-beam ul {
    width: 175px;
    display: inline-block;
    list-style: none;
    padding-left: 0;
}

div#step1-left-beam svg,
div#step1-right-beam svg {
    vertical-align: top;
}

div#step1-left-beam div.form-group {
    display: inline-block;
    width: 49%;
}

div#step1-right-beam {
    order: 3;
    flex: 1 1 33.33%;
}

div#step1-right-beam div.form-group {
    display: inline-block;
    width: 49%;
}

div#step1-column svg {
    display: block;
    /* margin-bottom: 15px; */
    margin: 0 auto 15px;
}

div#perfil-screen{
    height: 100%;
    width: 100%;
    z-index: 1;
}

div#both-info{
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

div#both-info > div.wrapper{
    background-color: white;
    opacity: initial;
    border: solid 2px black;
    height: 100%;
    width: 800px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}


div#both-info > div.wrapper div {
    position: absolute;
    top:15px;
}

div#both-info > div.wrapper div:first-child{
    left: 15px;
    right: calc(50% + 10px);
}

div#both-info > div.wrapper div:nth-child(2){
    right: 15px;
    left: calc(50% + 10px);
}

.btn-link{
    color: black!important;
}
